@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.fields {
  width: 902px;
  height: 900px;
  border: 1px solid black;
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.fields div {
  width: 30px;
  height: 30px;
}

div .color {
  background-image: url('images/Brick.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.character {
  background-image: url('images/character.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.character.left {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
}

div .target {
  background-color: red;
}

div .bullet {
  background-color: yellow;
}

div .teleport {
  background-color: blue;
}

div .sign {
  background-image: url('images/sign.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.sign.show::after {
  content: 'SHOOT TO THE RED TARGET!';
  position: absolute;
  top: -50px;
  left: -60px;
  width: 250px;
  height: 50px;
}

.counter {
  position: absolute;
  z-index: 1000;
  text-align: center;
  color: black;
  font-size: 30px;
  margin: 50px;
  top: 350px;
  right: 0;
}